body {
  background-image: url(../images/bg.jpg);
  background-position: center center;    
  background-repeat: no-repeat;    
  background-attachment: fixed;    
  background-size: cover;
}

div {
  font-family: 'Neucha', cursive;
  font-size: 10vw;
  position:absolute; 
  top:50%; 
  left:50%"
}