body {
  background-image: url(../images/bg.jpg);
  background-position: center center;    
  background-repeat: no-repeat;    
  background-attachment: fixed;    
  background-size: cover;
}

#mainDiv {
  font-family: 'Neucha', cursive;
  position: center;
  text-align: center;
  outline: 3px solid #000;
  height: 100%;
}

#pSize {
  font-size: 4vw;
  margin-top: 0.2em;
  margin-bottom: 0.4em;
}

#rightAside {
  margin-right:0px;
  margin-top:0px;
  float:right;
  position:relative;
  font-size: 3vw;
  outline: 3px solid #000;
}

#leftAside {
  margin-left:0px;
  margin-top:0px;
  float:left;
  position:relative;
  font-size: 3vw;
  outline: 3px solid #000;
}