body {
  background-image: url(../images/bg.jpg);
  background-position: center center;    
  background-repeat: no-repeat;    
  background-attachment: fixed;    
  background-size: cover;
}

div {
  font-family: 'Neucha', cursive;
  position: center;
  text-align: center
}

audio {
  position: center;
}

#pSize {
  font-size: 5vw;
}

aside {
  background: #f0f0f0;
  margin-left:45px;
  float:left;
  width:350px;
  position:relative;
}