@font-face {
	font-family: 'zx-spectrum7'; 
	src: url(../zx-spectrum7-bold.ttf); 
}

@font-face {
	font-family: 'upheaval'; 
	src: url(../upheaval-pro-regular.otf); 
}

html {
    background-image: url(../images/bg.jpg);
    background-position: center center;    
    background-repeat: no-repeat;    
    background-attachment: fixed;    
    background-size: cover;
    height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    z-index: 2;
    text-transform: uppercase;
    position: relative
}

body {
    margin: 0;
    line-height: 0.9;
}

.mainp {
    text-align: center;
    font-size: 5vw;
}

.mainp2 {
    text-align: center;
    font-size: 3vw;
}

.blur {
    overflow: hidden;
    width: 80%;
    height: 95%;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: table;
    box-sizing: border-box;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.6);
}

.blur:before {
    content: "";
    background-image: url(../images/bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.blurcontent {
    position: absolute;
    padding: 0 5px;
    overflow-y: auto;
    height: 100%;
    font-family: 'upheaval';
    font-size: 3vw;
    z-index: 2;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: #bdbdbd;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@media screen and (max-device-width: 1200px) {
    .blurcontent {
        font-size: 5vw;
    }
    .mainp {
        font-size: 10vw;
    }
}

@media screen and (max-device-width: 600px) {
    .blurcontent {
        font-size: 6vw;
    }
    .mainp {
        font-size: 13vw;
    }
}
