@font-face {
	font-family: 'upheaval'; 
	src: url(upheaval-pro-regular.otf); 
}

html {
    /*background-image: url(../images/bg.jpg);
    background-position: center center;    
    background-repeat: no-repeat;    
    background-attachment: fixed;    
    background-size: cover;*/
	background-color: black;
    height: 100%;
	scrollbar-width: none;
}

.maindiv {
	text-align: center;
	font-family: 'upheaval';
	color: white;
	font-size: 3vw;
}

p {
	margin: 0.5em;
}

.moodle {
	width: 15%;
	image-rendering: pixelated;
}

::-webkit-scrollbar {
    width: 0px;
}

@media screen and (max-device-width: 1200px) {
    .maindiv {
        font-size: 6vw;
    }
}

@media screen and (max-device-width: 600px) {
    .maindiv {
        font-size: 7vw;
    }
}
